*,
*:after,
*:before {
        font-family: "Manrope", serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 16px;
}
body {
        font-size: 100%;
        list-style-type: none;
        width: 105vw;
}    
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 120px;
    width: 105vw;
    height: 110vh;
    background-image: url(/Assets/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#presentation{
    top:50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-weight: 600;
    font-size: 1.4rem;
}
#presentation-text{
line-height: 5vh;
}
h1{
    font-size: 4rem;
    font-weight: 800vw;
}
h2{
    font-size: 3rem;
    font-weight: 800vw;
    margin: 0;
}
button{
    background-color: #F84646;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500vw;
    padding: 0.9rem 3.9rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
#qualities{
    background-color:#F84646;
    color: #fff;
    
}
#qualities-title{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 6%;
}
#qualities-text{
    font-size: 1.5rem;
    font-weight: 300;
}
#qualities-list{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 6%;
    padding-bottom: 8%;
}
.qualities-img{
    margin: 0 2.5rem 0 2.5rem;
}
.q-list-text{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 6vh;
}
#articles{
    display: flex;
    flex-direction: column;
    padding: 10% 6%;
    gap: 10rem;
    align-items:baseline;
}
#g1{
    display: flex;
    justify-content:space-evenly;
}
#g1-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-right: 4rem ;
}
#g1-title{
    color:#2E2E2E;
   
}

#g1-p{
    line-height: 2rem;
    color:#808080;
}
#g2{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row-reverse;
}
.g2-title{
    color:#2E2E2E;

}
#g2-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-left: 9rem;
}
#g2-p{
    line-height: 2rem;
    color:#808080;
    font-size: 1rem;
}
#contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 8%;
    flex-wrap:wrap;
}
#p-contatos{
    margin-top: 0.9rem;
    font-size: 1.2rem;
    font-weight: 600;
}
#botao-contatos{ 
    margin-top: 2rem;
    width: 20vw;
    height: 10vh;
    font-size: 1.5rem;
    padding: 0.9rem 2rem;
}